* {
  box-sizing: border-box;
  margin: 0;
}

.employee {
  border: solid black 2px;
  margin: 20px;
  height: 75px;
  width: 100px;
}

header {
  background-color: steelblue;
  text-align: center;
}
